img#taxi {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img#rangers {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 40%;
    width: 45%;
    transform: translate(-50%, 7%);
}

h1#main {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

form#main {
    position: fixed;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


h2#intro {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
    font-size: 150%;
    width: 48%;
 }
.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
    font-size: 150%;
    width: 48%;
}

.cenback {
        height: 90vh;
        background-size: cover;
    }

textarea#main {
    position: fixed;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    width: 30%;
    height: 25%;
    border-radius: 10px 10px 10px 10px;
}

#button {
    position: fixed;
    top: 32%;
    left: 50%;
    transform: translate(-50%, 190%);
    color: black;
    width: 30%;
    height: 25%;
    cursor:pointer;
    margin-top:20px;
    float:right;
    height:40px;
    padding-left:24px;
    padding-right:24px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:20px;
    color:#FFF;
    text-shadow: 0px -1px 0px #000000;
    -webkit-border-radius:8px;
    border-radius:8px;
    border-top:1px solid #FFF;
    -webkit-box-shadow: 0px 2px 14px #000;
    box-shadow: 0px 2px 14px #000;
    background-color: #62add6;
    background-repeat:repeat-x;
}

@font-face {
   font-family: alien_language;
   src: url('alien.woff');
}

.alien_language {
   font-family: alien_language;
}