// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  color: #BDBDBD;
}

