.rainbow {
  margin: 50px auto;
  text-align: center;
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 1s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 1s infinite;
  
  /* Standar Syntax */
  animation: rainbow 1s infinite; 
  font: normal 25px/normal "Warnes", Helvetica, arial;

}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}
/* Internet Explorer */
@-ms-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}

/* Standar Syntax */
@keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}

.neon {
  margin: 50px auto;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  font: normal 155%;
  color: black;
  text-decoration: normal;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 25px #ff00de ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.neon:hover {
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 25px #00ffff ;
  -webkit-transform: rotateX(6.302535746439055deg) rotateY(9.740282517223996deg)   ;
  transform: rotateX(6.302535746439055deg) rotateY(9.740282517223996deg)   ;
}

.shadow {
  
  text-align: center;
  text-shadow: 3px 3px 7px blue;
  font: normal 30px/normal "Warnes", Helvetica, arial;
}


#number {
  margin: 50px auto;
  text-align: center;
  font: normal 25px/normal "Warnes", Helvetica, arial;
}

#default {
  margin: 50px auto;
  text-align: center;
  font: normal 50px/normal "Warnes", Helvetica, arial;
}

.btn {
    border-color: black;
    border-style: solid;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
    

.btn:hover {
    background-color: black;
    color: white;
}